.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  margin-bottom: 12px;
  border-radius: 2%;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 18px;
  margin-bottom: 40px;
}

.card__title {
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  border: none;
  width: 23px;
  height: 20px;
  color: #212121;
  background-color: transparent;
  opacity: 40%;
  border: 2px;
}
.card__like-button:hover {
  color: #212121;
  left: 65px;
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
    margin: 20px 0 12px;
  }

  .card__content {
    margin-bottom: 20px;
  }

  .card__title {
    margin: 0;
    max-width: 250px;
  }
}
